<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="" ui-sref="list">
                    <i class="fa fa-fw fa-arrow-left"></i> Back to Sketches
                </a>
            </li>

            <li class="header" style="cursor: pointer" ng-click="ctrl.changeName()">
                {{ ctrl.sketch.name }}
            </li>

            <li class="active treeview">
                <a href="">
                    <i class="fa fa-list"></i> <span>Layers</span>
                </a>
                <ul class="treeview-menu">
                    <li ng-repeat="layer in ctrl.drawing.layers">
                        <a ng-click="ctrl.drawing.activeLayer = layer.id">
                            <i class="fa fa-circle text-success" ng-show="layer.id == ctrl.drawing.activeLayer"></i>
                            <i class="fa fa-circle-o" ng-hide="layer.id == ctrl.drawing.activeLayer"></i>
                            <span style="cursor: pointer" ng-click="ctrl.changeLayerName(layer)">{{ layer.name }}</span>

                            <span class="pull-right">
                                <i ng-click="layer.visible = !layer.visible" ng-show="layer.visible"
                                   class="text-success fa fa-eye"></i>
                                <i ng-click="layer.visible = !layer.visible" ng-hide="layer.visible"
                                   class="text-muted fa fa-eye-slash"></i>
                                <i ng-click="ctrl.removeLayer(layer)" class="fa fa-trash"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="ctrl.addLayer()"><i class="fa fa-plus-circle"></i> New Layer</a>
                    </li>
                </ul>
            </li>

            <li class="active treeview">
                <a href=""><i class="fa fa-paint-brush"></i>
                    Pen
                    <span class="pull-right">
                        <i class="fa fa-toggle-on text-success" ng-hide="ctrl.sketch.eraser"></i>
                        <i class="fa fa-toggle-off" ng-show="ctrl.sketch.eraser"></i>
                    </span>
                </a>
                <ul class="treeview-menu text-center">
                    <li>
                        <a>
                            <rzslider rz-slider-model="ctrl.drawing.tools.pen.size"
                                      rz-slider-options="{ floor: 1, ceil: 15 }"/>
                        </a>
                    </li>
                    <li>
                        <a>
                        <div colorpicker
                             ng-style="{ 'background-color': ctrl.drawing.tools.pen.color || '#000000' }"
                             ng-model="ctrl.drawing.tools.pen.color">&nbsp;</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li ng-class="{ 'active': ctrl.sketch.eraser }">
                <a href="" ng-click="ctrl.sketch.eraser = !ctrl.sketch.eraser">
                    <i class="fa fa-eraser"></i> Eraser

                    <span class="pull-right">
                        <i class="fa fa-toggle-on text-success" ng-show="ctrl.sketch.eraser"></i>
                        <i class="fa fa-toggle-off" ng-hide="ctrl.sketch.eraser"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="" ng-click="ctrl.sketch.showGrid = !ctrl.sketch.showGrid">
                    <i class="fa fa-table"></i> Grid
                    <span class="pull-right">
                        <i class="fa fa-toggle-on text-success" ng-show="ctrl.sketch.showGrid"></i>
                        <i class="fa fa-toggle-off" ng-hide="ctrl.sketch.showGrid"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="" ngf-select="ctrl.addImage($file)"><i class="fa fa-picture-o"></i> Add Image</a>
            </li>
            <li>
                <a href="" ng-click="ctrl.fullscreen.toggle()">
                    <i class="fa fa-television"></i> Fullscreen
                    <span class="pull-right">
                        <i class="fa fa-toggle-on text-success" ng-show="ctrl.fullscreen.enabled()"></i>
                        <i class="fa fa-toggle-off" ng-hide="ctrl.fullscreen.enabled()"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="" ng-click="ctrl.resetSketch()"><i class="fa fa-trash"></i> <span>Reset</span></a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class="body no-padding main-sketch">
                <div as-draw-panel=""
                     drawing="ctrl.drawing"
                     style="width: 100%; height: 1000px;"/>
            </div>
        </div>
    </section>
</div>

<!-- -->
<canvas id="canvas-helper" style="display: none; width: 100%; height: 1000px;"></canvas>

<style>
    canvas {
        cursor: default;
    }
</style>